
/* 全局属�? */
:root{
    --select-text-bg-color: #e49123;
    --bg-color:  #fafafa;                   /*change background*/
    --text-color: #333333;                  /*change text color*/
    --md-char-color: #C7C5C5;               /*change color of meta characetrs like `*` in markdown */
    --meta-content-color: #5b808d;          /*change color of meta contents like image text or link address in markdown */
  
    --primary-color: #428bca;               /* color of primary buttons */
    --primary-btn-border-color: #285e8e;
    --primary-btn-text-color: #fff;
  
    --window-border: 1px solid #eee;        /*border for sidebar, etc*/
  
    --active-file-bg-color: #eee;           /*background color if list item in file tree or file list*/
    --active-file-text-color: inherit;
    --active-file-border-color: #777;
  
    --side-bar-bg-color: var(--bg-color);     /*change background of sidebar*/
    --item-hover-bg-color: rgba(229, 229, 229, 0.59); /*background of control items when hover, like menu in sidebar*/
    --item-hover-text-color: inherit;
    --monospace: monospace;                   /*monospace font for codes, fences*/
  }
  ::selection {
      background:#b981d1;
      color:white
  }
  ::-moz-selection {
      background:#b981d1;
      color:white
  }
  ::-webkit-selection {
      background:#b981d1;
      color:white
  }
  
  #write {
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    font-family: "微软雅黑","PingFang SC", "Microsoft YaHei", sans-serif;
  }
  
  /*段落*/
  #write p {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    line-height: 26px;
    color: black;
  }
  
  /*  todo item 对齐 */
  #write input[type="checkbox"] {
    margin-top: calc(1em - 2px);
    margin-right: 5px;
    left: -3px;
  }
  
  /*标题*/
  #write h1,
  #write h2,
  #write h3,
  #write h4,
  #write h5,
  #write h6 {
    margin: .72em 0;
    padding: 0px;
    font-weight: bold;
    color: black;
  }
  #write h1 {
    margin: 1.2em 0;
    font-size: 2rem;
  }
  #write h2 {
    font-size: 1.7rem;
    margin: 1em 0;
  }
  #write h3 {
    font-size: 1.5rem;
  }
  #write h4 {
    font-size: 1.25rem;
  }
  #write h5 {
    font-size: 1rem;
  }
  #write h6 {
    font-size: 0.75rem;
  }
  
  /* 列表 */
  #write ul,
  #write ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: black;
  }
  #write ul {
    list-style-type: disc;
  }
  #write ul ul {
    list-style-type: square;
  }
  #write ol {
    list-style-type: decimal;
  }
  /* 列表内容 */
  #write li section {
    font-size:15px;
  }
  
  /* 字体加粗 */
  /* #write strong::before {
    content: '�?';
  } */
  
  #write strong {
    color: #E49123;
    font-weight: bold;
  }
  
  /* #write strong::after {
    content: '�?';
  } */
  
  /*引用*/
  #write blockquote {
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    background: #fff9f9;
    border-left: 3px solid #ffb11b;
    color: #6a737d;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  #write blockquote p {
    line-height: 26px;
  }
  
  /* 超链�? */
  #write a {
    text-decoration: none;
    font-weight: bold;
    color: #E49123;
    border-bottom: 1px solid #E49123;
  }
  
  /* 分割�? */
  #write hr {
    height: 1px;
    padding: 0;
    border: none;
    text-align: center;
    background-image: linear-gradient(to right,rgba(231, 93, 109,0.3),rgba(255, 159, 150,0.75),rgba(255, 216, 181,0.3));
  }
  
  /* background-color �? rgba 转为 HEX*/
  #write code:not(.hljs){
    font-size: 14px;
    color:  rgb(235, 76, 55);
    background-color: #f0f0f0;
  }
  
  /* 行内代码 */
  #write p code,
  #write span code,
  #write li code {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    word-break: break-all;
  }
  
  /* 文章插图 */
  #write img {
    display: block;
    margin: 0 auto;
    width: 85%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow:0px 4px 12px #84A1A8;
    border: 0px;
  }
  #write table {
      margin: 20px 0;
  }
  #write table tr {
    border: 0;
    border-top: 1px solid #ccc;
    background-color: white;
  }
  #write table tr:nth-child(2n) {
    background-color: #F8F8F8;
  }
  #write table tr th,
  #write table tr td {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
  }
  #write table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  
  /* 上角�? */
  #write .md-footnote {
   font-weight: bold;
   color: #E49123;
  }
  #write .md-footnote > .md-text:before {
   content: '['
  }
  #write .md-footnote > .md-text:after {
   content: ']'
  }
  
  
  /* 下角�? */
  #write .md-def-name {
    padding-right: 1.8ch;
  }
  #write .md-def-name:before {
    content: '[';
    color: #000;
  }
  #write .md-def-name:after {
    color: #000;
  }
  
  
  /* 代码块主�? */
  
  
    #write pre code {
        padding: 20px 24px !important;
    }
